
<h2>Timeline</h2>

<table>
<% Activity.order( 'created_at DESC' ).each do |acti| %>
 <tr>
   <td><%= acti.text %></td>
   <td><%= acti.created_at.strftime( '%b %d, %Y %H:%M' ) %></td>
   <td>
    <!-- only show if different from created_at -->
    <% unless acti.created_at == acti.updated_at %>
     <%= acti.updated_at.strftime( '%b %d, %Y %H:%M' ) %>
    <% end %>
   </td>
 </tr>
<% end %>
</table>

